@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,900');

body {
  font-family: 'Montserrat', sans-serif;
}

section {
  padding-bottom: 20px;
}

.overlay {
  font-size: 40px;
  left: -10vw;
  position: absolute;
  text-align: center;
  top: 40vh;
  width: 100%;
  z-index: 2;
}

.hero-body {
  padding: 0;
}

.about {
  padding: 0 10vw;
}

h2 {
  text-align: center;
}

.about-team {
  padding: 5vw 10vw;
}

.columns {
  padding-top: 20px;
}

.footer {
  padding-bottom: 48px;
  text-align: center;
}