
	<div class="column is-one-third-desktop is-half-tablet">
		<div class="card">
			<div class="card-image">
				<figure class="image">
					<a href="{{ url_for('recipe', recipe_id=recipe.id) }}"><img src="{{ url_for('static', filename='klara-avsenik-1365422-unsplash.jpg') }}" alt="Sushi Image"></a>
				</figure>
			</div>
			<div class="card-content">
				<div class="content">
					<div class="media-content">
						<p class="title is-4"><a href="{{ url_for('recipe', recipe_id=recipe.id) }}" class="has-text-primary">{{ recipe.title }}</a></p>
						<p class="title is-6 no-padding">by {{ recipe.user.username }}</p>
						<a href="{{ url_for('save_to_favorite', recipe_id=recipe.id) }}" class="button is-primary is-small">Save</a>
						<!-- <div class="modal">
							<div class="modal-background"></div>
							<div class="modal-content">
								<p>Recipe saved!</p>
							</div>
							<button class="modal-close is-large" aria-label="close"></button>
						</div> -->
					</div>
				</div>
			</div>
		</div>
	</div>




