{% extends "layout.html" %}

{% block content %}
<div class="about-team">
  <h2 class="subtitle is-2">About the Hangry Team</h2>
  <div class="columns">
    <div class="column">
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <img src="#" alt="Nicolette">
            </div>
            <div class="media-content">
              <h4 class="subtitle is-4">Meet Nicolette</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit voluptatem eaque odio explicabo consequatur et, esse quam dolore blanditiis nostrum, excepturi, quis minus voluptates a rerum labore laborum itaque accusamus.</p>    
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <img src="#" alt="Christina">
            </div>
            <div class="media-content">
              <h4 class="subtitle is-4">Meet Christina</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit voluptatem eaque odio explicabo consequatur et, esse quam dolore blanditiis nostrum, excepturi, quis minus voluptates a rerum labore laborum itaque accusamus.</p>    
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <img src="#" alt="Brandon">
            </div>
            <div class="media-content">
              <h4 class="subtitle is-4">Meet Brandon</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit voluptatem eaque odio explicabo consequatur et, esse quam dolore blanditiis nostrum, excepturi, quis minus voluptates a rerum labore laborum itaque accusamus.</p>    
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <img src="#" alt="Ronni">
            </div>
            <div class="media-content">
              <h4 class="subtitle is-4">Meet Ronni</h4>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit voluptatem eaque odio explicabo consequatur et, esse quam dolore blanditiis nostrum, excepturi, quis minus voluptates a rerum labore laborum itaque accusamus.</p>    
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}