{% extends "layout.html" %}

{% block content %}
<div class="about-team">
  <h2 class="subtitle is-2 animated fadeIn">About the Hangry Team</h2>
  <div class="columns">

    <div class="column is-half">
      <div class="card about-card ">
        <div class="card-content animated fadeInLeft">
          <div class="media">
            <div class="media-left"> 
              <figure class="image is-128x128">
              <img src="{{ url_for('static', filename='../static/nicolette.jpeg') }}" alt="Nicolette">
              </figure>
            </div>
            <div class="media-content">
              <h4 class="subtitle is-4">Meet Nicolette</h4>
              <p>With a diverse cultural background, Nicolette grew up with an appreciation of food. She was exposed to food from all regions of the world and has an excitement to try new dishes. "Don't knock it till you try it" is her motto. As a major foodie, she is now raising two little foodies of her own. She is teaching her daughters that food can be exciting and fun; just don't get Hangry! <span><a class="git" href="https://github.com/LewNic1" alt="Nicolette">Github</a></span></p>    
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-half">
      <div class="card about-card ">
        <div class="card-content animated fadeInRight">
          <div class="media">
            <div class="media-left">
              <figure class="image is-128x128">
                <img src="{{ url_for('static', filename='../static/christina.jpeg') }}" alt="Christina">
              </figure>
            </div>
            <div class="media-content">
              <h4 class="subtitle is-4">Meet Christina</h4>
              <p>Christina gets super Hangry at times. The best way to overcome this is to make sure that she always has a snack in her bag. Once the dragon inside is calmed down, she checks her fridge and browses her favorite recipes to get inspiration on what to cook. As a full stack developer working long hours, quick and easy recipes are her preference to still her hanger. <span><a class="git" href="https://github.com/ch264" alt="Christina">Github</a></span></p>    
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-half">
      <div class="card about-card ">
        <div class="card-content animated fadeInLeft">
          <div class="media">
            <div class="media-left">
              <figure class="image is-128x128">
              <img src="{{ url_for('static', filename='../static/brandon.jpeg') }}" alt="Brandon">
              </figure>
            </div>
            <div class="media-content">
              <h4 class="subtitle is-4">Meet Brandon</h4>
              <p>Born and raised in the Bay Area, Brandon always finds himself searching for new meals to discover whether at home or on the road. He loves food and enjoys cooking for his friends and family.  As a full stack developer with so much to do and so little time, Brandon uses simple recipes created by our Hangry community to save time and cook delicious dishes using Hangry. <span><a class="git" href="https://github.com/brandonmcastillo" alt="Brandon">Github</a></span> </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="column is-half">
      <div class="card about-card ">
        <div class="card-content animated fadeInRight">
          <div class="media">
            <div class="media-left">
              <figure class="image is-128x128">
                <img src="{{ url_for('static', filename='../static/ronni.jpeg') }}" alt="Ronni">
              </figure>
            </div>
            <div class="media-content">
              <h4 class="subtitle is-4">Meet Ronni</h4>
              <p>Originally from Southern California, Ronni is excited to start a new adventure in the San Francisco Bay Area as a junior full-stack web developer.  She loves food and the window it provides into other backgrounds and cultures.  She enjoys reading recipes to learn about what goes into dishes and how to make them even if she isn't the most confident cook.  She hopes people enjoy Hangry! <span><a class="git" href="https://github.com/ronsbons" alt="Ronni">Github</a></span></p>    
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}