{% extends "layout.html" %}
<!-- Imports macro template for form rendering -->
{% from "macros.html" import render_field %}

{% block content %}
<div class="container">
  <div class="columns">
    <div class="column">
        <img src="{{ url_for('static', filename='beef.jpeg') }}">
        <!-- <img src="{{ url_for('static', filename='rice.jpeg') }}"> -->
      </div>
      <div class="column">
  <h2 class="subtitle is-2">Add Recipe</h2>
  <form method="POST" action="" class="field">
    {{ form.hidden_tag() }}
    
    {% for field in form if field.widget.input_type != 'hidden' %}
      {{ render_field(field) }}
    {% endfor %}

    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class={{category}}>{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="has-text-centered">
    <button type="submit" class="button is-danger">Add Recipe</button><a href="{{ url_for('profile', username=user.username) }}" class="button is-light">Cancel</a>
  </form>
</div>
  </div>
</div>
</div>
{% endblock %}