{% extends "layout.html" %}
<!-- Imports macro template for form rendering -->
{% from "macros.html" import field_error %}

{% block content %}
<div class="container">
  <div class="columns">
    <div class="column edit-column">
  <h2 class="subtitle is-2 ">Edit Recipe</h2>
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="form-input">
      {{ field_error(form.category) }}

      {{ form.category.label(class="label") }}
      <!-- [] FIX THIS -->
      {{ form.category(class="control") }}
    </div>

    <div class="form-input">
      {{ field_error(form.title) }}

      {{ form.title.label(class="label") }}
      {{ form.title(class="control",  value=recipe.title) }}
    </div>

    <div class="form-input">
      {{ field_error(form.content) }}

      {{ form.content.label(class="label") }}
      {{ form.content(class="control", placeholder=recipe.content, cols="35", rows="20") }}
    </div>

    <div class="form-input">
      {{ field_error(form.ingredient_tag) }}

      {{ form.ingredient_tag.label(class="label") }}
      {{ form.ingredient_tag(class="control", value=recipe.ingredient_tag) }}
    </div>

    <button type="submit" class="button is-dark edit-page-button">Save my changes</button><a href="{{ url_for('recipe', recipe_id=recipe.id) }}" class="button is-danger has-text-centered">Cancel</a>
  </form>
</div>
<div class="column">
    <!-- [] CHANGING THIS IMAGE SRC TO DYNAMIC RECIPE.FILENAME UPLOAD MAKES CHROME HANG -->
    <img class="animated fadeIn" src="{{ url_for('static', filename='fruits.jpeg') }}">
</div>
</div>
</div>
{% endblock %}