{% extends "layout.html" %}
<!-- Imports macro template for form rendering -->
{% from "macros.html" import field_error %}

{% block content %}
  <h2 class="subtitle is-2">Edit Profile</h2>
  <form method="PUT" action="">
    {{ form.hidden_tag() }}
    <div class="form-input">
      {{ field_error(form.username) }}

      {{ form.username.label(class="label") }}
      {{ form.username(class="control", placeholder=user.username) }}
    </div>

    <div class="form-input">
      {{ field_error(form.email) }}

      {{ form.email.label(class="label") }}
      {{ form.email(class="control", placeholder=user.email) }}
    </div>

    <div class="form-input">
      {{ field_error(form.password) }}

      {{ form.password.label(class="label") }}
      {{ form.password(class="control") }}
    </div>

    <div class="form-input">
      {{ field_error(form.location) }}

      {{ form.location.label(class="label") }}
      {{ form.location(class="control", placeholder=user.location) }}
    </div>

    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class={{category}}>{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <button type="submit" class="button is-primary">Save my changes</button>
  </form>
{% endblock %}