{% extends "layout.html" %}
<!-- Imports macro template for form rendering -->
{% from "macros.html" import field_error %}

{% block content %}
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="form-input">
      {{ field_error(form.category) }}

      {{ form.category.label(class="label") }}
      <!-- [] FIX THIS -->
      {{ form.category(class="control", value=recipe.category) }}
    </div>

    <div class="form-input">
      {{ field_error(form.title) }}

      {{ form.title.label(class="label") }}
      {{ form.title(class="control",  value=recipe.title) }}
    </div>

    <div class="form-input">
      {{ field_error(form.content) }}

      {{ form.content.label(class="label") }}
      {{ form.content(class="control", value=recipe.content, cols="35", rows="20") }}
    </div>

    <div class="form-input">
      {{ field_error(form.ingredient_tag) }}

      {{ form.ingredient_tag.label(class="label") }}
      {{ form.ingredient_tag(class="control", value=recipe.ingredient_tag) }}
    </div>

    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class={{category}}>{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    <button type="submit" class="button is-primary">Save my changes</button>
  </form>
{% endblock %}