{% extends 'layout.html' %}

{% block content %}

<div class="column is-1"></div>
<div class="column">
	<div class="image is1by1">
		<img src="#"></div>
	</div>
</div>
<div class="column is-1"></div>
<div class="column is-two-thirds content">
	<p><span class="title is-bold">Ray Anderson</span></p> 
	<p><span class="location"><small>I live in San Francisco</small></span></p>
	<button class="button is-light">Edit profile</button>
</div>


	<table>
		<tr valign="top">
			<td>this will be a post</td>
		</tr>
	</table>

	{% include '_receipe.html' %}
	
	
	
{% endblock %}



