{% extends 'layout.html' %}

{% block content %}

	<div class="columns">
		<div class="column is-one-quarter">
			<div class="image is1by1">
				<img src="#">
			</div>
		</div>

		<div class="column">
			<p><span class="title is-bold">{{ user.username }}</span></p> 
			<p><span class="location"><small>I live in {{ user.location }}</small></span></p>
			<button class="button is-light">Edit profile</button>
		</div>
	</div>

	<div class="columns">
		<div class="column is-half">
				<h4>Your Recipes</h4>
				
				{% include '_receipe.html' %}
			</div>
	
			<div class="column is-half">
				<h4>Saved Recipes</h4>
				{% include '_receipe.html' %}
			</div>
	</div>
	
{% endblock %}



