
<div class="level">

	<div class="level-item has-text-centered">
		<h1>Makilicious</h1>
			<p><span class="title is-bold">Ray Anderson</span></p> 
			<p><span class="location"><small>I live in San Francisco</small></span></p>
		<ul>
				<li>1	avocado</li>
				<li>7 oz	salmon fillets</li>
				<li>1¾ cups	sushi rice</li>
				<li>3 cups	water</li>
				<li>2 tbsp	confectioner’s sugar</li>
				<li>1 tbsp	rice vinegar</li>
				<li>¼ tsp	salt</li>
				<li>4	dried seaweed sheets</li>
				<li>wasabi paste</li>
				<li>sushi ginger (for serving)</li>
				<li>soy sauce (for serving)</li>
			</ul>
			<h4>Steps</h4>
			<ol>
				<li>Rinse sushi rice under running water until the water runs clear. Add rinsed rice and water to a pot and let sit for approx. 10 min., then bring to a simmer over low heat. Cover with a lid and let simmer for approx. 10 min. Remove pot from heat and let the sushi rice sit, covered, for approx. 15 min. longer. Afterwards, let rice cool down completely.</li>
				<li>
				Add confectioner’s sugar, rice vinegar, and salt to a pot and heat the mixture until the sugar is dissolved. Add to cooled sushi rice and stir to combine.For avocado maki, slice avocado. Wrap sushi mat in plastic wrap and place a nori sheet on top. With damp hands, spread sushi rice onto the lower half of nori sheet and spread some wasabi and place sliced avocado in the center of the rice. Roll together tightly using the sushi mat and cut off overhang. Slice into equal-sized avocado maki.For salmon nigiri, slice salmon filet. Form cooked sushi rice into oval shapes and spread some wasabi on top. Place sliced salmon on top. Serve sushi with more wasabi, sushi ginger, and soy sauce for dipping. Enjoy!
				</li>
			</ol>
	</div> 
</div>