{% extends 'layout.html' %}

{% block content %}
	<div class="columns recipe-show">
		<div class="column left-side has-text-centered">
					<h1 class="is-4 has-text-danger">{{ recipe.title }}</h1>
					<p class="is-size-6"> Created By {{ recipe.user.username}}</p>
					<p class="is-size-6"> Date: {{ recipe.timestamp}}</p>
					<a href="{{ url_for('save_to_favorite', recipe_id=recipe.id) }}" class="button is-small is-dark">Save to Bookmarks</a>
					{% if current_user.id == recipe.user.id %}
						<a href="{{ url_for('edit_recipe', recipe_id=recipe.id)}}" class="button is-light is-small">Edit my recipe</a><button class="button is-danger is-small modal-button">Delete my recipe</button>
						<div class="modal">
							<div class="modal-background has-background-grey-dark"></div>
							<div class="modal-content">
								<p class="has-text-white">Are you sure you want to delete your recipe?</p>
								<a href="{{ url_for('delete_recipe', recipe_id=recipe.id) }}" class="button is-danger is-small">Yes, delete my recipe</a><button class="button is-light is-small modal-button">No, never mind</button>
							</div>
							<button class="modal-close is-large" aria-label="close"></button>
						</div>
			{% endif %}
			<p class="recipe-content is-size-5">Description: {{ recipe.content }}</p>
			<p class="is-size-5">Category: {{ recipe.category }} <br> Main Ingredient: {{ recipe.ingredient_tag }}</p>		
		</div>				
		<div class="column">
			<figure class="image is-square">
					<a href="{{ url_for('recipe', recipe_id=recipe.id) }}"><img class="animated fadeInRight" src="{{ url_for('static', filename='dumpling.jpeg') }}" alt="Your Food"></a>
			</figure>	
		</div>	
	</div>

{% endblock %}
