{% extends "layout.html" %}
<!-- Imports macro template for form rendering -->
{% from "macros.html" import render_field %}

{% block content %}

  <form method="POST" action="{{ url_for('register') }}" class="field" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <!-- "form" was passed into template in app.py in add_recipe method -->
    <!-- if condition hides CSRF token field -->
    {% for field in form if field.widget.input_type != 'hidden' %}
      <!-- Pass in iterated "field" value from form into macro render_field -->
      {{ render_field(field) }}
    {% endfor %}
    
    <!-- [] HOW TO ACCESS RESULT.INFO.URL FROM CLOUDINARY WIDGET? AND SUBMIT IT WITH THE FORM? -->
    <!-- <input type="hidden" name="profile_image" value="result.info.url"> -->

    <button id="upload_widget" class="cloudinary-button">Upload Profile Image</button>

    <div class="has-text-centered">
      <!-- Sign Up button submits form -->
      <!-- Cancel button links to 'index' function in app.py to redirect to landing page -->
      <button type="submit" class="button is-dark">Sign Up</button><a href="{{ url_for('index') }}" class="button is-light">Cancel</a>
    </div>
  </form>

  <!-- <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>  

  <script type="text/javascript">  
    var myWidget = cloudinary.createUploadWidget({ cloudName: 'dtwqqfg0g', uploadPreset: 'hangry'}, (error, result) => {
      if (!error && result && result.event === "success") { 
        console.log('Done! Here is the image info: ', result.info);
        // [] store result.info.url in a variable to be accessed in <form>?
      };

      if (error) {
        console.log(`image upload error: `, error);
      };
    });

    document.getElementById("upload_widget").addEventListener("click", function(){
        myWidget.open();
      }, false);
  </script> -->

{% endblock %}