{% extends "layout.html" %}
<!-- Imports macro template for form rendering -->
{% from "macros.html" import render_field %}

{% block content %}
  <form method="POST" action="" class="field ">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
      {{ render_field(field) }}
    {% endfor %}

    <div class="has-text-centered">
    <button type="submit" class="button is-dark">Sign Up</button><a href="{{ url_for('index') }}" class="button is-light">Cancel</a>
    </div>
  </form>

{% endblock %}