{% extends "layout.html" %}

{% block content %}
  <div class="profile-container">
    <div class="profile-info">
      <h1>Ronni</h1>
      <h4>City: San Mateo, CA</h4>
      <a class="button is-small">Edit</a>
    </div>

    <div class="edit-profile">
      <form method="PUT" action="" class="field">
        <div class="form-input">
          <input type="text" class="control" placeholder="Ronni">
        </div>
        <div class="form-input">
          <input type="text" class="control" placeholder="San Mateo, CA">
        </div>
        <button class="button is-small">Save</button>
      </form>
    </div>

    <div class="columns">
      <div class="recipes column">
        <h3>Your Recipes</h3>
        <div class="card">
          <h5>Test Recipe
            <span class="is-grouped">
              <a class="button is-small">Edit</a>
              <a class="button is-small">Delete</a>
            </span>
          </h5>
        </div>
      </div>
  
      <div class="recipes column">
        <h3>Saved Recipes</h3>
        <div class="card">
          <h5>Test Recipe
            <span><a class="button is-small">Remove</a></span>
          </h5>
        </div>
      </div>
    </div>
  
  </div>

{% endblock %}